body {
    margin: 0;
    font-family: "Montserrat";
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
    min-height: 300px;
}

section, footer {
    margin: 20px 0;
    padding: 40px;
    background: #f4f4f4;
    border-radius: 8px;
    min-height: 300px;
}

.content-container {
    margin-top: 10px;
    min-height: 550px;
}

.image-container, .image-container2 {
    display: flex;
    gap: 10px;
}

.image-container img, .image-container2 img {
    width: 150px;
    height: 200px;
}

.inicio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid img {
    width: 100%;
    height: auto;
}

.masages {
    grid-column: span 2;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header {
        height: 100vh;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .masages {
        grid-column: span 1;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
}
